*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
}
header {
    position: sticky;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    z-index: 100;
}

/* name on top left corner */
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

/* nav bar on rhs */
.nav-bar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    margin-left: 35px;
    padding: 10px;
    transition: .3s;
}

/* nav bar while hovering */
.nav-bar a:hover,
.nav-bar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url(dahunsi.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 900;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    width: 172px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 24px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover {
    color: #081b29;
}

.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-icn {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-icn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-icn a:hover {
    color: #081b29;
}

.home-icn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-icn a:hover:before {
    width: 100%;
}