@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border transition-colors duration-500;
}

html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply h-full;
    background: url("./assets/bgImg.JPG") no-repeat center center/ cover;
    font-family: "poppins", sans-serif;
  }
}

/*...Typography...*/

.section_heading {
  @apply text-3xl font-extrabold dark:text-gray-300  text-gray-600;
}

.subheading {
  @apply text-3xl font-bold dark:text-cyan-500 text-cyan-950;
}

.write_up {
  @apply text-lg dark:text-white text-black;
}

/* ... header component styles ...*/

.header {
  @apply fixed top-0 left-0 w-full flex justify-between items-center px-2.5 py-5 z-10 dark:bg-gray-900 bg-gray-300 mb-3;
}

.logo a {
  @apply text-2xl font-bold p-2.5 dark:text-white text-black no-underline;
}

.nav-bar {
  @apply mr-5;
}

.nav-bar a {
  @apply text-lg no-underline font-medium dark:text-white text-black ml-8 p-2.5 hover:text-cyan-500 dark:hover:text-cyan-500 focus:text-cyan-500 dark:focus:text-cyan-500;
}

.dropdown {
  @apply relative hidden w-full;
}

/* ... home section component styles ... */

.home {
  @apply w-full opacity-80 p-[10%] h-3/5 dark:bg-indigo-950 bg-indigo-100;
}

.home-content {
  @apply w-4/5 m-auto;
}

/*... about section component styles ...*/
.about-section {
  @apply w-full h-auto flex flex-col items-center py-5 px-40 dark:bg-indigo-950 bg-indigo-100;
}

.about-content {
  @apply w-full my-5 mx-auto flex justify-between;
}

.about-section h3 {
  @apply items-center p-2.5;
}

.certification {
  @apply flex flex-col w-2/5 p-2.5;
}

.certification a img {
  @apply w-full my-2.5 mx-auto opacity-70 border-0 rounded-xl hover:cursor-pointer;
}

.skills {
  @apply w-2/5;
}

.skill-icons {
  @apply w-full flex flex-wrap justify-between my-[5%] mx-auto;
}

/*... portfoilo section component styles ...*/
.portfolio-section {
  @apply h-auto w-full opacity-95 flex flex-col items-center py-5 px-[10%] dark:bg-indigo-950 bg-indigo-100;
}

.portfolio-item {
  @apply h-auto w-full flex justify-between my-[5%] mx-auto;
}

.item-description {
  @apply w-2/5;
}

.item-description h4 {
  @apply mb-2.5;
}

.item-container {
  @apply w-1/2;
}

.item-container img {
  @apply w-full rounded-2xl hover:scale-110 ease-in-out duration-500;
}

/*... contact section style component ...*/

.contact-section {
  @apply h-auto w-full flex flex-col items-center justify-between dark:bg-indigo-950 bg-indigo-100;
}

.contact-section p {
  @apply w-4/5;
}

.btn-box {
  @apply m-5 h-12 w-44;
}

.btn-box a {
  @apply border-2 dark:border-cyan-500 relative border-cyan-950 inline-flex z-10 justify-center items-center w-36 h-full bg-transparent no-underline rounded-lg text-2xl dark:text-cyan-500 text-cyan-900 dark:hover:text-cyan-950 hover:text-gray-300 font-bold overflow-hidden;
}

.btn-box a::before {
  @apply dark:bg-cyan-500 bg-cyan-950;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  @apply w-full;
}

/*... footer section component icon ...*/
.footer {
  @apply w-full mb-0 flex flex-col items-center py-0 px-[10%] dark:bg-gray-900 bg-gray-300;
}

.footer > p {
  @apply my-5 mx-auto;
}

.foot-icn {
  @apply w-44 flex mt-5;
}

.ftl {
  @apply relative inline-flex justify-center items-center w-10 h-10 mr-auto bg-transparent border-2 dark:border-cyan-500 text-xl border-cyan-900 dark:text-cyan-500 text-cyan-950 dark:hover:text-gray-950 hover:text-gray-300 dark:hover:bg-cyan-500 hover:bg-cyan-950 rounded-full  no-underline z-10 overflow-clip transition ease-in-out duration-500;
}

@media (max-width: 767px) {
  .nav-bar > a {
    @apply hidden;
  }

  .home {
    @apply h-auto mt-[10%] p-16;
  }

  .home-content h1 {
    @apply text-4xl;
  }

  .dropdown {
    @apply flex flex-col justify-between;
  }

  .dropdown-content {
    display: none;
    transition: height 5s ease;
  }

  .bx_header {
    @apply text-3xl text-cyan-950 dark:text-white hover:text-cyan-500 dark:hover:text-cyan-500;
  }

  .show {
    @apply w-full flex flex-col justify-center z-50 items-start;
    transition: height 0.5s ease;
  }

  /*...styling the about section for this screen size...*/

  .about-section {
    @apply mb-0 flex flex-col items-center py-2.5 px-[10%];
  }

  .about-content {
    @apply max-w-xl mb-[20%] flex-col;
  }

  .certification {
    @apply w-full p-2.5 my-[5%] mx-auto;
  }

  .skills {
    @apply w-full;
  }

  .portfolio-item {
    @apply flex-col;
  }

  .item-description,
  .item-container {
    @apply w-full my-2.5 mx-auto;
  }

  .contact-section {
    @apply flex-col;
  }

  .contact-section h3 {
    @apply mb-5;
  }
}
